configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    drun-display-format: "{icon}  {name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Window";
    font: "JetBrainsMono Nerd Font 11";
    lines: 10;
    columns: 1;
    cycle: false;
    sidebar-mode: false;
    disable-history: false;
    hover-select: true;
    matching: "fuzzy";
    sort: true;
}

@theme "theme.rasi"
